.item {
    max-width: 300px;
    margin-bottom: 10px;
  
}
.deleteBtn {
    margin-left: 15px;
    font-size: 12px;
    border-radius: 4px;
    border-color:rgb(17, 74, 153);
    background-color: white;
    box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.75);
}
.deleteBtn:hover {
    background-color: rgb(17, 74, 153);
    color: white;
    
}
.deleteBtn:active {
    transform: translateY(2px);
}